header{
    position: fixed;
    width: 100vw;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background: rgba(0, 0, 0, .5);
}

header nav{
    width:80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav .logo{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo a{
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo a img{
    height: 100%;
}


header nav  ul{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
    list-style: none;
}

header nav ul li{
    font-size: 20px;
    padding: 10px;
    background: none;
}

header nav ul li a{
    background: none;
    color: #000;
    text-decoration: none;
}
