*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.responsive{
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    grid-template-rows:100px auto  100px;
}